<div class="events-container">
  <h1>Jazz Events</h1>
  <p class="subtitle">
    Non perderti i nostri appuntamenti settimanali dedicati alla musica jazz!
  </p>

  <div class="events-grid">
    @for ( event of events(); track $index) {
      <div class="event-card">
        <img [src]="event.photo" [alt]="event.name" class="event-photo" />

        <div class="event-info">
          <h2>{{ event.name }}</h2>
          <p class="event-date">{{ event.date }}</p>
        </div>
      </div>
    }
  </div>
</div>
